.card-container {
   display: flex;
   justify-content:space-between; 
   display: flex;
   width:90%;
   margin: auto;
}

.card-container::after,.card-container::before{
  content: "";
  display: table;
  clear: both;
}

.t1 {
  color: gray;
  font-size:5vw;
}

.t2{
  color: red;
  font-size: 5vw;
}

.t3{
  color: green;
  font-size: 5vw;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  transition: 0.3s;
  width: 35%;
  margin: 10px 5px 10px 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sub-container {
  padding: 2px 10px;
}


@media screen and (max-width: 500px) {
  .card-container{
    display: block;
    padding: 5px;
    margin: 1px;
  }
  .card {
    width: 100%;
  }
}