.App {
  text-align: center;
  box-sizing: border-box;
}

.img-logo {
  height: 100%;
  width: auto;
}

body { background-color: rgba(238, 238, 238, 0.534);}

 
  .img-logo {
    flex-grow: 1 ;
    animation: App-logo-spin infinite 10s linear;
  }


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  min-width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
}

.logo-div {
  left: 155px;
  height: 80px;
  width: auto;
}


.header-text {
  bottom:  5px;
  display: flex;
  flex-shrink: -1;
  justify-content: center;
  align-items: center;
  font-size: calc(20px + 2vmin);
  font-family: 'Berkshire Swash', cursive;
  color: white;
}



@media screen and (max-width:736px){
 .logo-div{
   height: 46px;
 }
.header-text{  
    font-size: calc(15px + 1vmin);
    font-family: 'Berkshire Swash', cursive;
    color: white;
}
} 


@keyframes App-logo-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
