.App {
  text-align: center;
}

.img-logo {
  height: 100%;
  width: auto;
}

body { background-color: rgba(238, 238, 238, 0.534);}

 
  .img-logo {
    animation: App-logo-spin infinite 10s linear;
  }


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo-div {
  position: absolute;
  left: 155px;
  height: 80px;
  width: auto;
}

.header-text {
  display: block;
  justify-content: end;
  font-size: calc(20px + 2vmin);
  font-family: 'Berkshire Swash', cursive;
  color: white;
}



@media screen and (max-width: 400px){
  .App-header {
  display: flex;
  justify-content: space-between;

}.logo-div{
    position: absolute;
    left: 22px;
    height: 45px;
    width: auto;
}
.header-text{    
    margin-left: 114px;
    font-size: calc(16px + 1vmin);
    font-family: 'Berkshire Swash', cursive;
    color: white;
}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
